[submodule "components/ubirch-mbed-msgpack"]
	path = components/ubirch-mbed-msgpack
	url = https://github.com/ubirch/ubirch-mbed-msgpack
[submodule "components/ubirch-mbed-nacl-cm0"]
	path = components/ubirch-mbed-nacl-cm0
	url = https://github.com/ubirch/ubirch-mbed-nacl-cm0
[submodule "components/ubirch-protocol"]
	path = components/ubirch-protocol
	url = https://github.com/ubirch/ubirch-protocol.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/ubirch/arduino-esp32
[submodule "components/ubirch-esp32-networking"]
	path = components/ubirch-esp32-networking
	url = https://github.com/ubirch/ubirch-esp32-networking
[submodule "components/ubirch-esp32-console"]
	path = components/ubirch-esp32-console
	url = https://github.com/ubirch/ubirch-esp32-console
[submodule "components/ubirch-esp32-storage"]
	path = components/ubirch-esp32-storage
	url = https://github.com/ubirch/ubirch-esp32-storage
[submodule "components/ubirch-esp32-api-http"]
	path = components/ubirch-esp32-api-http
	url = https://github.com/ubirch/ubirch-esp32-api-http
[submodule "components/ubirch-esp32-ota"]
	path = components/ubirch-esp32-ota
	url = https://github.com/ubirch/ubirch-esp32-ota
[submodule "components/esp32-i2c-ssd1306-oled"]
	path = components/esp32-i2c-ssd1306-oled
	url = https://github.com/ubirch/esp32-i2c-ssd1306-oled.git
	branch = pure-c
[submodule "components/ubirch-esp32-key-storage"]
	path = components/ubirch-esp32-key-storage
	url = https://github.com/ubirch/ubirch-esp32-key-storage.git
